* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, 
#root {
  height: 100%;
}

body {
  height: 100%;
  background-color: #efefef; /* Cor de fundo padrão */
  background-image: url('./img/planodefundo.jpeg');
  background-size: 100% auto; /* cobre completamente o elemento body */
  background-position: center;
}
